<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 mx-auto">
          <h1 class="brand-heading">smart WASTE</h1>
          <p class="intro-text">Un aplicación para gestionar de manera inteligente tus gastos y tus ingresos. Controla tu dinero de manera más inteligente.</p>
          <p class="intro-text">Crea tu propia contabilidad o entra en una ya existente</p>

          <ul class="list-inline row">
            <div class="col-lg-5 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
              <li class="list-inline-item">
                <a href="/new" class="btn btn-default btn-lg">
                  <i class="fa fa-user-plus fa-fw"></i>
                  <span class="">Crear nueva</span>
                </a>
              </li>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <li class="list-inline-item">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Nombre de la 'contabilidad' ..." ng-model="signinData.contId">
                  <span class="input-group-btn">
                    <a href="#signin-div">
                      <button id="signin-intro" class="btn btn-default btn-lg" type="button" ng-click="searchCont()"><i class="fa fa-check fa-fw"></i></button>
                    </a>
                    </span>
                </div>
              </li>
            </div>
          </ul>
          <div class="sign-in hidden" id="signin-div">
            <div class="close-btn">
              <i class="fa fa-times fa-2x fa-fw"></i>
            </div>
            <form id="signin-form">
              <h6>Logueo<i class="fa fa-user fa-2x fa-fw"></i><h6>
              <input type="text" class="form-control" placeholder="Usuario" id="signin-user" ng-model="signinData.user"><br>
              <input type="text" class="form-control" placeholder="Contraseña" id="signin-pass" ng-model="signinData.pass"><br>
                <button type="button" class="btn btn-default" id="signin" ng-click="loginCont()">Entrar</button>
            </form>
          </div>
          <div id="wrong-signin-cont" class="alert alert-danger alert-dismissable fade in hidden">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>¡Error!</strong> La contabilidad a la que intenta acceder no existe.
          </div>
          <div id="wrong-signin-login" class="alert alert-danger alert-dismissable fade in hidden">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>¡Error!</strong> El usuario y/o contraseña con erroneos.
          </div>



        </div>
      </div>
    </div>
  </div>
</header>
