<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 mx-auto">
          <h1 class="brand-heading">smart WASTE</h1>
          <p class="intro-text">Un aplicación para gestionar de manera inteligente tus gastos y tus ingresos. Controla tu dinero de manera más inteligente.</p>
          <p class="intro-text">Crea tu propia contabilidad o entra en una ya existente</p>

          <ul class="list-inline row">
            <div class="col-lg-5 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
              <li class="list-inline-item">
                <a href="/new" class="btn btn-default btn-lg">
                  <i class="fa fa-user-plus fa-fw"></i>
                  <span class="">Crear nueva</span>
                </a>
              </li>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <li class="list-inline-item">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Nombre de la 'contabilidad' ...">
                  <span class="input-group-btn">
                      <a href="/contId">
                      <button class="btn btn-default btn-lg" type="button"><i class="fa fa-check fa-fw"></i></button>
                    </a>
                    </span>
                </div>
              </li>
            </div>
          </ul>
          <div class="sing-in">
            <form id="singin-form">
              <h6>Logueo<i class="fa fa-user fa-fw"></i><h6>
              <input type="text" class="form-control" placeholder="Usuario" id="singin-user"><br>
              <input type="text" class="form-control" placeholder="Contraseña" id="singin-pass"><br>
              <button type="button" class="btn btn-default" id="singin">Entrar</button>
            </form>
          </div>



        </div>
      </div>
    </div>
  </div>
</header>
