<section id="trade-form" class="content-section text-center">
  <div class="container">
    <h2>Crear una nueva actividad</h2>

    <ul class="list-inline row">
      <div class="col-lg-2 col-lg-offset-3 col-md-6 col-sm-12 col-xs-12">
        <li class="list-inline-item">
          <button id="newDeposit" class="btn btn-default btn-lg">
            <i class="fa fa-plus fa-fw"></i>
            <span class="">Ingreso</span>
          </button>
          </a>
        </li>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <li class="list-inline-item">
          <button id="newWaste" class="btn btn-default btn-wrong btn-lg">
            <i class="fa fa-filter fa-fw"></i>
            <span class="">Gasto</span>
          </button>
        </li>
      </div>
      <div class="col-lg-2 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        <li class="list-inline-item">
          <button id="newMovement" class="btn btn-default btn-wrong btn-lg">
            <i class="fa fa-filter fa-fw"></i>
            <span class="">Movimiento</span>
          </button>
        </li>
      </div>
    </ul>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12 mx-auto">
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <input type="text" class="form-control text-center" placeholder="Concepto" ng-model="formData.concept">
              </div>
              <div class="col-lg-4">
                <input type="text" class="form-control text-center waste" placeholder="Tipo" ng-model="formData.waste.type">
                <input type="text" class="form-control text-center deposit hidden" placeholder="Origen" ng-model="formData.deposit.origin">
                <input type="text" class="form-control text-center movement hidden" placeholder="Fuente" ng-model="formData.movement.origin">
              </div>
              <div class="col-lg-4">
                <input type="text" class="form-control text-center waste" placeholder="Subtipo" ng-model="formData.waste.subtype">
                <input type="text" class="form-control text-center deposit hidden" placeholder="Destino" ng-model="formData.deposit.destiny">
                <input type="text" class="form-control text-center movement hidden" placeholder="Destino" ng-model="formData.movement.destiny">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <input type="date" class="form-control text-center" placeholder="Fecha" ng-model="formData.date">
              </div>
              <div class="col-lg-4">
                <input type="date" class="form-control text-center" placeholder="Fecha Devengo" ng-model="formData.date">
              </div>
              <div class="col-lg-4">
                <textarea class="form-control text-center" rows="6" cols="30" placeholder="Descripción" ng-model="formData.description"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="input-group">
                  <span class="input-group-addon">€</span>
                  <input type="number" class="form-control text-center" placeholder="Cantidad" ng-model="formData.amount">
                </div>
              </div>
              <div class="col-lg-4">
                <input type="text" class="form-control text-center waste" placeholder="Forma de pago" ng-model="formData.waste.origin">
              </div>
            </div>

          </div>

          <ul class="list-inline row">
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-12 col-xs-12">
              <li class="list-inline-item">
                <button class="btn btn-default btn-lg" ng-click="createTrade()">
                  <i class="fa fa-plus fa-fw"></i>
                  <span class="">Añadir</span>
                </button>
                </a>
              </li>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
              <li class="list-inline-item">
                <button class="btn btn-default btn-wrong btn-lg">
                  <i class="fa fa-filter fa-fw"></i>
                  <span class="">Limpiar</span>
                </button>
              </li>
            </div>
          </ul>
        </form>
      </div>
    </div>
  </div>
</section>
