<!-- Trades Section -->
<section id="trades" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Mi actividad</h2>
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <input readonly="readonly" type="text" class="form-control text-center" placeholder="Concepto" ng-model="trades.concept">
              </div>
              <div class="col-lg-4">
                <input readonly="readonly" type="text" class="form-control text-center waste" placeholder="Tipo" ng-model="trades.waste.type">
                <input readonly="readonly" type="text" class="form-control text-center deposit hidden" placeholder="Origen" ng-model="trades.deposit.origin">
                <input readonly="readonly" type="text" class="form-control text-center movement hidden" placeholder="Fuente" ng-model="trades.movement.origin">
              </div>
              <div class="col-lg-4">
                <input readonly="readonly" type="text" class="form-control text-center waste" placeholder="Subtipo" ng-model="trades.waste.subtype">
                <input readonly="readonly" type="text" class="form-control text-center deposit hidden" placeholder="Destino" ng-model="trades.deposit.destiny">
                <input readonly="readonly" type="text" class="form-control text-center movement hidden" placeholder="Destino" ng-model="trades.movement.destiny">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <input readonly="readonly" type="date" class="form-control text-center" placeholder="Fecha" ng-model="trades.date">
              </div>
              <div class="col-lg-4">
                <input readonly="readonly" type="date" class="form-control text-center" placeholder="Fecha Devengo" ng-model="trades.date">
              </div>
              <div class="col-lg-4">
                <textarea class="form-control text-center" rows="6" cols="30" placeholder="Descripción" ng-model="trades.description"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="input-group">
                  <span class="input-group-addon">€</span>
                  <input readonly="readonly" type="number" class="form-control text-center" placeholder="Cantidad" ng-model="trades.amount">
                </div>
              </div>
              <div class="col-lg-4">
                <input readonly="readonly" type="text" class="form-control text-center waste" placeholder="Forma de pago" ng-model="trades.waste.origin">
              </div>
            </div>

          </div>
          <button class="btn btn-default btn-lg" ng-click="createTrade()">Añadir</button>
          <button class="btn btn-default btn-lg">Limpiar</button>
        </form>
      </div>
    </div>
  </div>
</section>
